@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="card card-custom">
    <div class="card-header bg-blue text-white rounded-top">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="card-body">
        <h4 class="text-danger">You do not have access to this page.</h4>
    </div>
</div>