﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="card card-custom">
    <div class="card-header bg-blue text-white rounded-top">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat sollicitudin pretium. Duis sit amet malesuada sem. Phasellus
    aliquam diam at lorem iaculis auctor. Praesent ultrices est id augue sollicitudin fringilla. Donec tempor justo odio, eu venenatis
    magna rutrum ut. Cras ante dolor, tristique eu dolor ac, convallis eleifend justo. Aliquam sed mattis neque. Integer sed erat id quam
    pellentesque sagittis. Nullam nec dignissim mauris. Cras dapibus imperdiet mi. Cras posuere volutpat luctus. Quisque at fringilla
    purus. Proin massa felis, feugiat vel auctor id, feugiat a eros. Nullam ac lorem eros. Cras rhoncus sollicitudin enim in faucibus.

    In massa ex, hendrerit laoreet tristique sit amet, maximus at urna. Duis tincidunt ligula quis lorem aliquet facilisis. Fusce sit
    amet quam leo. Maecenas vel arcu leo. Maecenas lobortis mauris dui, nec facilisis purus tincidunt a. Donec vestibulum nibh eu justo
    pulvinar cursus. Etiam condimentum finibus elit a bibendum. Cras nisl dui, feugiat lacinia turpis tristique, mollis blandit sem. Nunc
    eget congue lectus. Fusce fermentum magna ac diam sodales bibendum. Phasellus commodo eros sed velit placerat, ut aliquet diam
    pharetra. Duis rhoncus ex a vehicula pharetra.

    <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Cras sed est id nibh dignissim vulputate at quis dui.</li>
        <li>Mauris sit amet elit ac magna semper commodo at vitae nulla.</li>
        <li>Morbi vitae ante quis massa cursus aliquam quis sed justo.</li>
        <li>Curabitur placerat massa vel lectus gravida ornare.</li>
        <li>Sed euismod dui eget porta imperdiet.</li>
        <li>Sed et nisl posuere, egestas velit vel, cursus lectus.</li>
        <li>Sed mattis nisl nec elit facilisis, sed tincidunt sapien faucibus.</li>
    </ol>

    Pellentesque in egestas eros. Aliquam mollis felis et dapibus commodo. Cras suscipit eros in risus vehicula, nec sagittis arcu
    tincidunt. Phasellus cursus metus et eros ultricies, efficitur lobortis erat efficitur. Pellentesque habitant morbi tristique
    senectus et netus et malesuada fames ac turpis egestas. Quisque varius lacus ex. Aenean pharetra purus sed purus lacinia congue sit
    amet vel augue.

    Integer ultricies est elit, vitae malesuada dolor faucibus eu. Maecenas at orci ut massa lacinia blandit et ut dui. Donec ornare
    fringilla lorem, sit amet viverra justo placerat eget. Etiam nibh turpis, accumsan a quam sed, posuere maximus metus. In a justo sit
    amet urna interdum commodo vitae sit amet ipsum. Nam porttitor arcu nibh, sed congue eros lobortis nec. Sed a elit non magna sodales
    volutpat.

    Praesent sed volutpat est. Quisque risus nisl, molestie quis leo nec, blandit gravida dui. Sed quis condimentum quam. Nullam egestas
    tincidunt libero quis congue. Integer semper lectus eget sodales vehicula. Maecenas euismod urna tortor, nec ultrices tellus
    porttitor id. Sed diam risus, facilisis viverra commodo ut, tempor ac ex. Cras aliquam metus vitae tellus sollicitudin, vitae varius
    tellus vulputate. Praesent imperdiet augue id aliquet pretium. Praesent facilisis congue scelerisque.
</p></div>
</div>